In [22]:
#Libraries
import mysql.connector
import pandas as pd
from datetime import datetime
from tqdm import tqdm
import pymysql

In [26]:
#Initial Connection
cnx = mysql.connector.connect(host="127.0.0.1",
                              user="root",
                              password="WireTent8!",
                              database="Police"
                              )
cursor = cnx.cursor()

In [3]:
#function to download yearly data
def Get_Data(year):
    url = f"https://seshat.datasd.org/pd/pd_calls_for_service_{year}_datasd.csv"
    df = pd.read_csv(url)
    return df

In [4]:
url = f"http://seshat.datasd.org/pd/pd_cfs_calltypes_datasd.csv"
call_type = pd.read_csv(url).dropna(axis=1)
call_type

    call_type                description
0        1016        PRISONER IN CUSTODY
1      1016PT   PTU (PRISONER TRANSPORT)
2      1016QC      SHOPLIFTER/QUICK CITE
3        1021         PHONE YOUR STATION
4       1021H            PHONE YOUR HOME
..        ...                        ...
284       TLO  TERRORISM LIAISON OFFICER
285        TP            TRAFFIC PURSUIT
286       TRO      TRO VIOLATION, REPORT
287     VARDA                VARDA ALARM
288   WARRANT                    WARRANT

[289 rows x 2 columns]

In [5]:
url = f"http://seshat.datasd.org/pd/pd_dispo_codes_datasd.csv"
disposition = pd.read_csv(url).dropna(axis=1)
disposition.loc[len(disposition.index)] = ['DEF', 'DEF'] 
disposition
disposition

   dispo_code                                        description
0           X  DISPATCHED ALARM CALL CANCELLED BEFORE UNIT ON...
1           A                                        ARREST MADE
2          AB                      ARREST MADE, BOARD AND SECURE
3         AHR      ARREST MADE, HIGH RISK (CRISIS RESPONSE TEAM)
4           R                                             REPORT
5          RB                     REPORT TAKEN, BOARD AND SECURE
6         RHR           REPORT, HIGH RISK (CRISIS RESPONSE TEAM)
7           S                STOLEN VEHICLE OR RECOVERED VEHICLE
8           O                                              OTHER
9         OHR            OTHER, HIGH RISK (CRISIS RESPONSE TEAM)
10          K                                 NO REPORT REQUIRED
11         KB               NO REPORT REQUIRED, BOARD AND SECURE
12        KHR  NO FURTHER ACTION, HIGH RISK (CRISIS RESPONSE ...
13          U                                          UNFOUNDED
14          W  NO DISPATCH OR INCIDENT CANCLLED PRIOR TO DISP...
15        CAN                                             CANCEL
16        DUP                             DUPLICATE CALL, XREF'D
17          V                                     DUPLICATE CALL
18        DEF                                                DEF

In [6]:
beat = pd.read_csv('beat-neighborhood.csv').dropna(axis=1)
beat_split = beat['beat,neighborhood'].str.split(pat=",",
                                                 expand=True)
beat_split = beat_split.rename(columns={0: "beat",
                                        1: "neighborhood"})
beat_split.loc[len(beat_split.index)] = [-1, 'No Beat'] 
beat_split

    beat          neighborhood
0    111  Clairemont Mesa East
1    112  Clairemont Mesa West
2    113                Bay Ho
3    114      North Clairemont
4    115       University City
..   ...                   ...
121  934         Carmel Valley
122  935            North City
123  936      Torrey Highlands
124  937  Black Mountain Ranch
125   -1               No Beat

[126 rows x 2 columns]

In [7]:
# Create dataframe
days = pd.DataFrame({
    'day_of_week':list(range(1,8)),
    'day':['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
})
days

   day_of_week        day
0            1     Sunday
1            2     Monday
2            3    Tuesday
3            4  Wednesday
4            5   Thursday
5            6     Friday
6            7   Saturday

In [8]:
# df to dict
call_type_dict = call_type.to_dict('records')
disposition_dict = disposition.to_dict('records')
beat_dict = beat_split.to_dict('records')
days_dict = days.to_dict('records')

In [9]:
def Find_Data(row,cursor,table, key):
    try:
        #print(f"SELECT * from {table} where {key} = '{row[key]}'")
        cursor.execute(f"SELECT * from {table} where {key} = '{row[key]}'")
        # Fetch a record
        result = cursor.fetchone()
    except:
        result = 0
    
    return result

In [10]:
#Call Type
def Load_Call_Type(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} (call_type,
                                    description
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row['call_type'],row['description']))
    cnx.commit()

In [11]:
#Disposition
def Load_Dispo(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} (dispo_code,
                                    description
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row['dispo_code'],row['description']))
    cnx.commit()

In [12]:
#beat
def Load_Beat(row,cursor,table):
    # Create a new record
    sql = f"""INSERT INTO {table} (beat,
                                    neighborhood
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row['beat'],row['neighborhood']))
    cnx.commit()

In [13]:
#Load Data
def Load_Data(row,cursor,table,Col1,Col2):
    # Create a new record
    sql = f"""INSERT INTO {table} ({Col1},
                                    {Col2}
                                    ) VALUES (%s, %s)"""

    # Execute the query
    cursor.execute(sql, (row[Col1],row[Col2]))
    cnx.commit()

In [14]:
for row in tqdm(call_type_dict):
    #Verify if Data is in table
    Data_Found = Find_Data(row,cursor,'Call_types','call_type')
    if Data_Found is None:
        #If no data found load 
        Load_Call_Type(row,cursor,'Call_types')
    else:
        pass

100%|███████████████████████████████████████| 289/289 [00:00<00:00, 1543.29it/s]

In [15]:
for row in tqdm(disposition_dict):
    #Verify if Data is in table
    Data_Found = Find_Data(row,cursor,'Dispositions','dispo_code')
    if Data_Found is None:
        #If no data found load 
        Load_Dispo(row,cursor,'Dispositions')
    else:
        pass

100%|█████████████████████████████████████████| 19/19 [00:00<00:00, 1234.27it/s]

In [16]:
for row in tqdm(beat_dict):
    #Verify if Data is in table
    Data_Found = Find_Data(row,cursor,'Beats','beat')
    if Data_Found is None:
        #If no data found load 
        Load_Beat(row,cursor,'Beats')
    else:
        pass

100%|███████████████████████████████████████| 126/126 [00:00<00:00, 1479.34it/s]

In [17]:
for row in tqdm(days_dict):
    Table = 'Days'
    Key = 'day_of_week'
    Col2 = 'day'
    #Verify if Data is in table
    Data_Found = Find_Data(row,cursor,Table,Key)
    if Data_Found is None:
        #If no data found load 
        Load_Data(row,cursor,Table,Key,Col2)
    else:
        pass

100%|████████████████████████████████████████████| 7/7 [00:00<00:00, 663.13it/s]

In [18]:
#Calls
def Load_Calls(row,cursor,table,year):
    # Create a new record
    sql = f"""INSERT INTO {table} ( incident_num,
                                    incident_date_time,
                                    day_of_week,
                                    call_type,
                                    dispo_code,
                                    beat,
                                    priority,
                                    incident_year
                                    ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"""

    # Execute the query
    cursor.execute(sql, (row['incident_num'],
                         row['date_time'],
                         row['day_of_week'],
                         row['call_type'],
                         row['disposition'],
                         row['beat'],
                         row['priority'],
                         year,
                        )
                  )
    cnx.commit()

In [19]:
Years = list(range(2022,datetime.now().year +1))
Years

[2022, 2023]

In [20]:
Years = [2023]
Years

[2023]

In [21]:
for year in Years:
    yearly_data = Get_Data(year)
    yearly_data_dict = yearly_data.to_dict('records')
    for row in tqdm(yearly_data_dict):
        Table = 'Service_calls'
        Key = 'incident_num'
        #Verify if Data is in table
        Data_Found = Find_Data(row,cursor,Table,Key)
        if Data_Found is None:
            #If no data found load
            try:
                Load_Calls(row,cursor,Table,year)
            except:
                print(row)
                

        else:
            print('error')
            print(row)

  7%|██▋                                  | 2967/41790 [00:09<01:44, 372.56it/s]

{'incident_num': 'E23010003189', 'date_time': '2023-01-03 13:55:13', 'day_of_week': 3, 'address_number_primary': 6900, 'address_dir_primary': nan, 'address_road_primary': 'FRIARS', 'address_sfx_primary': 'RD', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '1016P', 'disposition': 'A', 'beat': 623, 'priority': 2}

 17%|██████▍                              | 7285/41790 [00:22<01:31, 378.74it/s]

{'incident_num': 'E23010007773', 'date_time': '2023-01-06 16:53:35', 'day_of_week': 6, 'address_number_primary': 7000, 'address_dir_primary': nan, 'address_road_primary': 'FRIARS', 'address_sfx_primary': 'RD', 'address_dir_intersecting': nan, 'address_road_intersecting': nan, 'address_sfx_intersecting': nan, 'call_type': '1016P', 'disposition': 'A', 'beat': 623, 'priority': 2}

100%|████████████████████████████████████| 41790/41790 [02:00<00:00, 346.53it/s]

In [ ]:
cursor.execute("SELECT * FROM Police.Service_calls")

In [32]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [33]:
engine = create_engine("mysql://root:WireTent8!@127.0.0.1/Police")
connection = engine.connect()

In [50]:
result = connection.execute(
    """
    SELECT 
        SERV.incident_num,
        SERV.incident_date_time,
        DAYS.day,
        SERV.call_type,
        CALLTP.description AS call_type_description,
        SERV.dispo_code,
        DISPO.description AS dispo_description,
        SERV.beat,
        BEAT.neighborhood,
        SERV.priority,
        SERV.incident_year
    
    FROM 
        Police.Service_calls SERV
    LEFT JOIN
        Police.Beats BEAT
    ON 
        SERV.beat = BEAT.beat
    LEFT JOIN
        Police.Call_types CALLTP
    ON 
        SERV.call_type = CALLTP.call_type
    LEFT JOIN
        Police.Days DAYS
    ON 
        SERV.day_of_week = Days.day_of_week
    LEFT JOIN
        Police.Dispositions DISPO
    ON 
        SERV.dispo_code = DISPO.dispo_code
    """)
column_names = result.keys()
rows = result.fetchall()
result_df = pd.DataFrame(rows, columns=column_names)

# print(column_names)
# for row in rows:
#     print(row)

In [51]:
result_df

,incident_num,incident_date_time,day,call_type,call_type_description,dispo_code,dispo_description,beat,neighborhood,priority,incident_year
0,E21010000001,2021-01-01 00:00:11,Friday,AU1,ALL UNITS INFORMATION-PRI 1,W,NO DISPATCH OR INCIDENT CANCLLED PRIOR TO DISP...,326,College West,1,2021
1,E21010000002,2021-01-01 00:00:14,Friday,1186,SPECIAL DETAIL,CAN,CANCEL,523,Gaslamp,3,2021
2,E21010000003,2021-01-01 00:00:26,Friday,AU1,ALL UNITS INFORMATION-PRI 1,DUP,"DUPLICATE CALL, XREF'D",839,Cherokee Point,1,2021
3,E21010000004,2021-01-01 00:00:31,Friday,AU1,ALL UNITS INFORMATION-PRI 1,W,NO DISPATCH OR INCIDENT CANCLLED PRIOR TO DISP...,613,Point Loma Heights,1,2021
4,E21010000006,2021-01-01 00:01:20,Friday,INFO,INFORMATION FOR DISPATCHERS,W,NO DISPATCH OR INCIDENT CANCLLED PRIOR TO DISP...,121,Mission Beach,2,2021
...,...,...,...,...,...,...,...,...,...,...,...
65477,E23010044748,2023-01-31 23:05:42,Tuesday,AU1171,ALL UNITS FIRE INFO-PRI 1,K,NO REPORT REQUIRED,122,Pacific Beach,1,2023
65478,E23010044756,2023-01-31 23:18:26,Tuesday,11-8,PERSON DOWN,K,NO REPORT REQUIRED,832,Teralta West,0,2023
65479,E23010044758,2023-01-31 23:23:29,Tuesday,1150,TRAFFIC STOP/WITH LICENSE,O,OTHER,122,Pacific Beach,2,2023
65480,E23010044759,2023-01-31 23:25:07,Tuesday,AU23152,DUI-ALL UNITS INFORMATION,W,NO DISPATCH OR INCIDENT CANCLLED PRIOR TO DISP...,522,Marina,2,2023
65481,E23010044763,2023-01-31 23:28:22,Tuesday,415CN,CONSTRUCTION NOISE COMPLAINT,K,NO REPORT REQUIRED,122,Pacific Beach,3,2023

In [65]:
import dash
from dash.dependencies import Input, Output
import dash_core_components as dcc
import dash_html_components as html

In [66]:
app = dash.Dash()
app.layout = html.Div(children=[
    html.H1('Police Activity Dashboard', style={'text-align': 'center'}),
    dcc.Dropdown(id="slct_year",
                options=[
                    {"label":"2023", "value": 2023}
                ],
                multi=False,
                value=2023,
                style={'width': "40%"})
])

In [ ]:
if __name__ == '__main__':
    app.run_server(port=8055)

Dash is running on http://127.0.0.1:8055/

Dash is running on http://127.0.0.1:8055/

Dash is running on http://127.0.0.1:8055/

Dash is running on http://127.0.0.1:8055/

Dash is running on http://127.0.0.1:8055/

Dash is running on http://127.0.0.1:8055/

Dash is running on http://127.0.0.1:8055/

Dash is running on http://127.0.0.1:8055/

 * Serving Flask app '__main__'
 * Debug mode: off